@import 'normalize.css';
@import 'react-toastify/dist/ReactToastify.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwind-extensions';

:root {
  --yellow: #ffb443;
  --white: #fff;
  --purpule: #876aff;
  --violet-60: #9159e0;
  --violet-50: #a565ff;
  --violet-20: #e9e0ff;
  --violet-10: #f3f1ff;
  --green-50: #5bb678;
  --green-40: #51d079;
  --green-10: #dffde9;
  --red-50: #ff495f;
  --red-10: #ffe9eb;
  --gray-95: #232325;
  --gray-80: #323036;
  --gray-70: #4d4d52;
  --gray-50: #929399;
  --gray-40: #afb1b8;
  --gray-20: #e6e8ed;
  --gray-15: #eef0f5;
  --gray-10: #f5f7fc;

  --font-family: 'Noto Sans', sans-serif;

  --spacing-5: 10px;
}

* {
  box-sizing: border-box;
  outline: none !important;
  color: rgba(21, 21, 25, 1);
}

html,
body,
#root {
  height: 100%;
  width: 100%;

  user-select: none;

  margin: 0;

  font-family: var(--font-family), 'sans-serif';
}

h1,
h2,
h3,
h4 {
  font-family: "TikTok Sans", sans-serif;
}

.container {
  max-width: 1275px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1024px) {
    padding: 0 24px;
  }
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(105, 103, 119, 1);
  padding: 10px 20px;
  border-radius: 100px;

  &:hover {
    color: rgba(7, 136, 241, 1);
  }

  &--active {
    color: rgba(7, 136, 241, 1);
    background: rgba(7, 136, 241, 0.06);
    pointer-events: none;
  }
}

.bg-main {
  background: rgba(216, 237, 255, 1);
}

.bg-secondary {
  background: #E6DDFB;
}

.bg-primary {
  background: #F3F8FD;
}

.button,
.header__button {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  padding: 16px 32px;
  background: rgba(21, 21, 25, 1);
  border-radius: 100px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s all ease;

  &:hover {
    background-color: rgba(21, 21, 25, 0.8);
  }
}

.header__button {
  padding: 7px 24px;
  font-size: 16px;
}

.button-primary {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  padding: 16px 32px;
  background: rgba(7, 136, 241, 1);
  border-radius: 100px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s all ease;

  &:hover {
    background-color: rgba(7, 136, 241, 0.8);
  }
}

.section {
  padding: 96px 0;

  @media (max-width: 1024px) {
    padding: 48px 0;
  }
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color: rgba(21, 21, 25, 1);
  font-family: 'TikTok Sans', sans-serif;

  @media (max-width: 1024px) {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  color: rgba(105, 103, 119, 1);
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;

  @media (max-width: 1024px) {
    font-size: 16px;
    line-height: 28px;

    br {
      display: none;
    }
  }
}

h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 32px;
    line-height: 40px;
  }
}

h4 {
  margin-top: 4px;
  color: rgba(105, 103, 119, 1);
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;


  @media (max-width: 1024px) {
    font-size: 24px;
    line-height: 32px;
  }

}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}

.swiper {
  overflow: visible !important;
}

.results-slider .swiper-slide {
  height: auto;
  display: flex;
  flex-direction: column;
}

.results-slider .swiper-wrapper {
  align-items: stretch;
}

.team-section {
  .swiper-pagination {
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  .swiper-wrapper {
    margin-left: -64px;

    @media (max-width: 1280px) {
      margin-left: 0;
    }
  }
}

.pagination {
  display: flex;
  gap: 8px;

  a {
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: #696777;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    @media (max-width: 370px) {
      font-size: 14px;
      width: 42px;
      height: 42px;
      border-radius: 12px;
    }

    &:hover {
      background-color: #F3F8FD;
    }
  }

  .selected a {
    background-color: #151519;
    color: #fff;
    pointer-events: none;
  }
  
  .disabled a{
    opacity: 0.5;
    pointer-events: none;
  }
}
.vacancie {
  p {
    margin-top: 32px;
    font-size: 15px;
    line-height: 24px;
    color: #696777;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
  li {
    position: relative;
    padding-left: 15px;
    font-size: 16px;
    line-height: 24px;
    &::before {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: #000;
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
}
.advantages {
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 12px
  }
  li {
    position: relative;
    padding-left: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #696777;
    &::before {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: #696777;
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
}

.swiper-slide.h-auto {
  height: auto!important;
}
.swiper-slide.h-full {
  height: 100%!important;
}